@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@theme static {
  --color-primary: #6632cd;
  --color-secondary: #feefcd;
}
